{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="col-md-6 m-auto">
        {% if msg %}
        <div class="alert alert-success">
            <strong>{{ msg }}</strong>
          </div>
        {% endif %}
        {% if form %}
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary mt-3">Apply</button>
        </form>
            {% endif %}
    </div>
</div>
{% endblock %}